<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/css/adad.css">
<script src = "/JavaScript/Buttons.js"></script>
</head>

<body  >


<div class="header1"> 
<div class = "header1__gui"> 
<p class = "header1__gui__thing" >
Abu Web Panel
</p>

<img class = "AbuIcon">

</div>
</div>

<div class="Content"> 

    <h1 class = "header1 susy"> 
        Controls

    </h1>

    <div class = "control"> 
      <button class = "DiveneButton"> Worship allach  </button>
      <button class = "DiveneButton"> Worship putin  </button>
      <button class = "DiveneButton"> Worship militarism  </button>

    </div>

    <div class = "control"> 
        
        <button class = "TextBoxButton Nick"> Set Nick  </button>
        <input class = "NickName"> Set Nick  </textbox>
    </div>

    <div class = "control"> 

        <img>
    </div>

</div>


</body>
</html>

